{% block ems_markup_row -%}
    {{ form.vars.config.markup|raw }}
{%- endblock ems_markup_row  %}

{% block ems_subform_row -%}
    <div role="group" aria-labelledby="{{ form.vars.config.name }}">
        <div id="{{ config.name }}">{{ form.vars.config.label }}</div>
        {% for child in form.children if not child.rendered %}
            {{ form_row(child) }}
        {% endfor %}
    </div>
{%- endblock ems_subform_row %}

{%- block ems_nested_choice_row %}
    {% for child in form.children if not child.rendered %}
        {{ form_row(child) }}
    {% endfor %}
{%- endblock ems_nested_choice_row %}
